.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 28px 0 26px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  transition: ease-in-out 0.25s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__input {
  display: block;
}

.modal__radio {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  opacity: 1;
}

.modal__radio:last-of-type {
  margin-bottom: 0px;
}

.modal__submit {
  padding: 8px 16px 8px 16px;
  bottom: 36px;
  left: 28px;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0);
  color: white;
  width: fit-content;
  margin-top: 28px;
  transition: ease-in-out 0.25s;
}

.modal__submit:hover {
  opacity: 0.6;
}

.modal__submit:disabled {
  opacity: 0.3;
}
