.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 16px;
  overflow: hidden;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

.weather-card__image {
  width: 100%;
  object-fit: cover;
  object-position: right top;
}
