.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  position: relative;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.modal__footer {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  margin-left: 32px;
}

.modal__weather {
  margin-bottom: 32px;
}

.modal__close {
  border: none;
  background: none;
  position: absolute;
  top: 26px;
  right: 26px;
}

.modal__close-btn {
  width: 16px;
  height: 16px;
}
