.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  position: relative;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.modal__footer {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-left: 32px;
}

.modal__caption {
  font-size: 20px;
}

.modal__weather {
  margin-bottom: 32px;
  font-size: 20px;
}

.modal__close {
  border: none;
  background: none;
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
}

.modal__close:hover {
  filter: brightness(0.2);
}

.modal__close-btn {
  width: 16px;
  height: 16px;
}

.modal__delete-btn {
  position: absolute;
  right: 32px;
  bottom: 73.78px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ff4d00;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__delete-btn:hover {
  filter: brightness(0.9);
}
