.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
  align-items: flex-end;
}
